@charset "utf-8";
/* CSS Document */
#bloque_bandas, #bloque_cds{
	border: 0px solid #000000;
	width: 550px;
	margin: -2px auto;
	display: inline-block;
	vertical-align: top;
}

#form_bandas, #form_cds{ width:420px;
		padding:20px;
		border:1px solid #000000;
		margin: -1px auto;
}
.centro { text-align:center; }
.label{ display:inline-block;
		width:100px;
}

table{
	margin: 0px auto;
	border-collapse: collapse;
}

th{
	padding-top: 5px;
	padding-bottom: 5px;
}
th, td{
	padding-left: 10px;
	padding-right: 10px;
}

.thumb100{
	width: 100px;
	height: 100px;
	overflow: hidden;}