@charset "utf-8";
/* CSS Document */

#form_bandas{ width:350px;
		padding:20px;
		border:1px solid #000000;
		margin: 20px auto;
}
.centro { text-align:center; }
.label{ display:inline-block;
		width:150px;
}
#mensaje_error {
	color: red;
	text-align: center;
}

table{
	margin: 0px auto;
	border-collapse: collapse;
}

th{
	padding-top: 5px;
	padding-bottom: 5px;
}
th, td{
	padding-left: 10px;
	padding-right: 10px;
}